body {
    font-family: Arial, sans-serif;
    background-color: #e8fac3;
    margin: 0;
    padding: 0;
}


nav{
    background-color: #059ec9;
    color: #ffffff;
    /* text-align: center; */
    padding: 10px 0;
}

header {
    background-color:  #c3eefa;
    color: #265f98;
    overflow: auto;
    padding: 10px 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a:hover {
    background-color:  #265f98;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-item {
    padding: 10px 20px;
    position: relative;
    display: inline-block; /* to allow for the ::after pseudo-element */
}

/* Add a vertical line to the right of each nav item except the last one */
.nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;  /* Adjust this value to change the line length */
    width: 1px;
    background-color:white;  /* Adjust color as needed */
}

.nav-admin {
    padding: 10px 20px;
    margin-left: auto; /* This pushes the Admin link to the far right */
}

/* Add a vertical line to the admin of nav item except the last one */
.nav-admin::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;  /* Adjust this value to change the line length */
    width: 1px;
    background-color: white;  /* Adjust color as needed */
}


header h1, h2 {
    margin-top: 0;
    text-align: center;
}

footer {
    background-color: #c3eefa;
    color:black;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}


